/* Контент в 100% */
@media screen and (max-width: 840px) {
    .user-profile__top {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .user-profile__top-name {
        align-items: center;
    }

    .user-profile__top-name h2 {
        font-size: var(--h3-size);
        max-height: none;
    }

    .user-profile__top-photo {
        height: 100px;
    }

    .user-profile__top-photo img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        
        background-color: var(--bg-primary);
        object-fit: cover;
    }

    .user-profile__bio {
        font-size: var(--p-small-size);
    }

}