/* Навигация */
nav {
    
}

/* Контент навигации */
.nav-content {
    width: calc(100% - 8px); /* Растояние между контентом и скролом - 8px */
    display: flex;
    flex-direction: column;
    gap: 12px;

    z-index: var(--z-nav);
    
}

/* Кнопки */
nav ul {
    display: flex;
    flex-direction: column;
    gap: 12px; /* Расстояние между кнопками - 12px */
}

/* Контейнер кнопки */
nav ul li {
    user-select: none;
}

/* Кнопка */
nav ul li a {
    width: 100%;
    height: 48px;
    /* background-color: var(--button-bg-transparent); */
    background-color: var(--button-bg-primary);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);

    cursor: pointer;
}

/* Только для десктопных устройств */
@media (hover: hover) {
    nav ul li a:hover, nav ul li a:active {
        background-color: var(--button-hover-transparent);
    }
}


/* Разделитель */
.nav-divider {
    width: 90%;
    margin: 0 auto; /* Центр */
    border-bottom: 1px solid var(--border-primary);
}


/* Логотип */
.nav-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 150px;
    cursor: pointer;
}







/* Разделитель */
.main-nav__divider {
    width: 90%;
    margin: 0 auto 12px auto; /* Центр */
    padding-top: 12px;
    border-bottom: 1px solid var(--border-primary);
}


/* Ссылки как прозрачные кнопки */
.main-nav__link {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--button-bg-transparent);
}

.main-nav__link a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Только для десктопных устройств */
@media (hover: hover) {
    .main-nav__link:hover, .main-nav__link:active {
        background-color: var(--button-hover-transparent);
    }
}


/* Контент профиля и страны */
.main-nav__link-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    margin-left: 4px;
}

#nav-full__user img, #nav-full__country img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.main-nav__link-text h5 {
    width: 100px;
}

.main-nav__link-text h6 {
    width: 100px;
    color: var(--text-secondary);
}


/* Кнопка авторизации (Как обычная зеленая) */
#nav-full__authorization {
    background-color: var(--button-bg-primary);
    border-radius: 4px;
}

/* Только для десктопных устройств */
@media (hover: hover) {
    #nav-full__authorization:hover, #nav-full__authorization:active {
        background-color: var(--button-hover-primary);
    }
}



/* Навигация сверху */
@media screen and (max-width: 1000px) {
    /* Делаем навигацию сверху поверх всего + ресайз */
    main nav {
        width: 100%;
        height: 50px;
        position: fixed;
        right: 0;
        top: 0;
    }

    /* Прячем основной контент */
    .main-nav__content {
        display: none;
        cursor: default;
    }

    /* Отступ у кнопок */
    .main-nav__content li {
        padding: 0 8px;
    }


    /* Задний фон навигации */
    .main-nav__content-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background-color: #00000066;
        z-index: var(--z-nav-content);
        display: none;
    }

    /* Включает отображение */
    .main-nav__content-wrapper.show {
        display: flex;
        position: fixed;
        cursor: pointer;
    }

    /* Сама навигация становится телефонной версией */
    .main-nav__content.show {
        background-color: var(--bg-secondary);
        border-left: 1px solid var(--border-secondary);
        display: block;
        padding-bottom: 70px;
    }
}

/* Контент в 300px */
@media screen and (max-width: 590px) {

}

/* Ресайз навигации */
@media screen and (max-width: 420px) {
    /* Растягиваем навигацию на весь экран и убираем бордер слево*/
    .main-nav__content.show {
        width: 100%;
        border: none;
    }
}

/* Контент в 100% */
@media screen and (max-width: 316px) {

}