@media screen and (max-width: 840px) {
/* Навигация */
nav {
    display: none;
}
}

/* Кнопки */
nav ul {
    display: flex;
    flex-direction: column;
    /* gap: var(--block-gap); */
}

/* Контейнер кнопки */
nav ul li {
    user-select: none;
}

/* Кнопка */
nav ul li a {
    width: 100%;
    height: 48px;
    /* height: var(--button-height); */
    background-color: var(--button-bg-tp);
    /* background-color: var(--button-bg-primary); */

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);

    cursor: pointer;
}

nav ul li button {
    height: 48px;
    margin-bottom: var(--block-gap);
}

/* Только для десктопных устройств */
@media (hover: hover) {
    nav ul li a:hover, nav ul li a:active {
        background-color: var(--button-hover-tp);
    }
}


/* Разделитель */
.nav-divider {
    width: 90%;

    border-bottom: 1px solid var(--border-primary);

    margin: var(--block-gap) auto; /* Центр */
}


/* Логотип */
.nav-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 100px;
    cursor: pointer;
}