@media screen and (max-width: 840px) {
    /* Обвертка навигации */
    .nav-wrapper {
        width: 200px;
        padding: 0px 0px 60px 0px;
        
        background-color: var(--bg-secondary);
        border-left: 1px solid var(--border-primary);

        position: fixed;
        top: 0px;
        right: 0;

        /* display: none; */
    }

    /* Навигация */
    nav {
        width: calc(100% - 8px - 8px); /* Растояние между контентом и скролом - 8px и слево - 8px */
        margin: 0 auto;

        gap: 0px;
    }


    /* Кнопку открвтия навигации видно только на маленьких экранах */
    #nav-menu-show {
        display: flex;
        float: right;

        margin: 6px 8px 0 0;
    }

    /* Кнопка закрытия навигации */
    #nav-menu-hide {
        display: flex;
        margin-left: auto;

        margin: 6px 0 0 auto;
    }

    /* Скрытие полосы у навигации */
    #nav-menu-hide::after {
        content: "";
        width: 2px;
        height: 49px;

        position: fixed;
        top: 0;
        right: 199px;

        background-color: var(--bg-secondary);
    }

    /* Подложка навигации */
    #nav-menu-bg {
        width: 100%;
        height: calc(100% - 50px);
        display: block;

        position: fixed;
        top: 50px;
        left: 0;
        background-color: var(--bg-transparent);

        cursor: pointer;

        z-index: var(--z-nav-bg);
    }

    /* Показывать ли меню */
    .hide-nav-menu {
        display: none !important;
    }

    /* Кнопка юзера в моб. версии */
    #nav-phone-user {
        display: flex;
        width: auto;
        max-width: 150px;

        margin-left: 8px;
    }
}