:root {
    /* Кнопки */
    --button-bg: #322F39;
    --button-hover: #55515C;
    --button-bg-clicked: #5E5A65;

    --button-bg-green: #006500;
    --button-hover-green: #008810;

    --button-bg-red: #7A141A;
    --button-hover-red: #A91922;

    --button-bg-tp: #FFFFFF00;
    --button-hover-tp: #FFFFFF1F;

    --button-bg-disabled: #2E2C35;

    --button-height: 36px;
    --button-img-size: 28px
}

/* Обычная кнопка (Серая) */
button {
    width: 100%;
    height: var(--button-height);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--block-gap);
    padding: var(--block-gap);

    color: var(--text-white);
    font-size: var(--h4-size);
    text-decoration: none;

    outline: none;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--button-bg);

    overflow: hidden;
    user-select: none;
    cursor: pointer;
}


/* Важная кнопка (Зеленая) */
button.green {
    background-color: var(--button-bg-green);
}


/* Опасная кнопка (Красная) */
button.red {
    background-color: var(--button-bg-red);
}


/* Кнопка в списке (Прозрачная) */
button.tp {
    background-color: var(--button-bg-tp);
}


/* Кнопка с иконкой (Как прозрачная, но 36x36) */
button.button-icon {
    width: 36px;
    height: 36px;
    background-color: var(--button-bg-tp);
}

/* Иконка в кнопке чуть меньше кнопки */
button.button-icon img {
    width: 32px;
    height: 32px;
}


/* Отключена */
button:disabled {
    cursor: not-allowed;
    color: var(--text-dark);
    background-color: var(--button-bg-disabled);
}


/* Нажата */
button.clicked {
    background-color: var(--button-bg-clicked);
}


/* Только для десктопных устройств */
@media (hover: hover) {
    button:hover, button:active {
        background-color: var(--button-hover);
    }

    button.green:hover, button.green:active {
        background-color: var(--button-hover-green);
    }

    button.red:hover, button.red:active {
        background-color: var(--button-hover-red);
    }

    button.tp:hover, button.tp:active {
        background-color: var(--button-hover-tp);
    }

    button.image:hover, button.image:active {
        background-color: var(--button-hover-tp);
    }

    button:disabled:hover, button:disabled:active {
        background-color: var(--button-bg-disabled);
    }
}


/* Только на мобильных дивайсах */
/* @media (hover: none) {
    button:focus {
        background-color: var(--button-hover);
    }

    button.primary:focus {
        background-color: var(--button-hover-primary);
    }

    button.danger:focus {
        background-color: var(--button-hover-danger);
    }

    button.transparent:focus {
        background-color: var(--button-hover-tp);
    }

    button.image:focus {
        background-color: var(--button-hover-tp);
    }

    button:disabled:focus {
        background-color: var(--button-bg-disabled);
    }
} */