/* Ссылка (Указывается для тега <a> если в нем только текст) */
a {
    text-decoration: none;
    cursor: pointer;
}

.link-text {
    color: var(--text-link);
}


/* Только для десктопных устройств */
@media (hover: hover) {
    .link-text:hover, .link-text:active {
        text-decoration: underline;
    }
}

/* Только на мобильных дивайсах */
@media (hover: none) {
    /* На мобильных девайсах ссылки подчеркнуты */
    .link-text {
        text-decoration: underline;
    }
}