@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@import "./text.css";
@import "./link.css";
@import "./button.css";
@import "./page-loading.css";
/* @import "./input.css"; */


:root {
    /* Основные цвета */
    --bg-primary: #1B1A1F;
    --bg-secondary: #242328;
    --bg-transparent: #15151586;

    /* Бордеры */
    --border-primary: #413F46;
    --border-input: #9891a0;
    --border-input-focus: #1CA02C;
    --border-input-error: #D60027;
    --border-radius: 4px;

    --block-gap: 12px;
    --article-gap: 20px;

    /* Уровни слоев */
    --z-under: -1; /* Под основным контентом */
    --z-main: 0; /* Основной контент */
    --z-over: 1; /* Над основным контентом */
    --z-nav-bg: 8; /* Подложка навигации (Черный фон) */
    --z-nav-content: 9; /* Верх навигации */
    --z-nav: 10; /* Меню навигации */
    --z-modal: 11; /* Модальное окно (над навигацией) */
    --z-loading: 12; /* Загрузка над модальным окном */
    --z-top: 13; /* Над всем */
}

* {
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
    color: var(--text-white);
    font-size: var(--p-size);
    font-weight: 400;
    word-break: break-word;

    box-sizing: border-box;

    list-style-type: none;
    scroll-behavior: smooth;
    color-scheme: dark;

    transition: .2s all;
}


.hidden {
    display: none !important;
}


/* .flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--block-gap);
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--block-gap);
} */