#article-news-write {
    display: flex;
    flex-direction: column;
    gap: var(--article-gap);
}

.section-news-write__row {
    display: flex;
    flex-direction: row;
    gap: var(--block-gap);
}

.section-news-write__column {
    display: flex;
    flex-direction: column;
    gap: var(--block-gap);
}