/* Основной стиль инпута */
input {
    width: 100%;
    height: var(--button-height);
    padding: 8px;
    display: block;

    color: var(--text-white);
    font-size: var(--p-size);
    text-decoration: none;

    outline: none;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-input);
    border-radius: 4px;
}

/* Текстареа */
textarea {
    width: 100%;
    height: 80px; /* По умолчанию высота в 80px */
    min-height: var(--button-height); /* Минимальный размер павен размеру инпута */
    max-height: 200px; /* Максимальный размер */
    padding: 8px;
    display: block;

    color: var(--text-white);
    font-size: var(--p-size);
    text-decoration: none;

    outline: none;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-input);
    border-radius: 4px;

    resize: vertical; /* Ресайз только вертикальный */
}

/* При выборе инпута / текстареа (Кроме неизменяемых) */
input:not(:read-only):focus,
textarea:not(:read-only):focus {
    border: 1px solid var(--border-input-focus);
}

/* Неизменяемые с серым текстом */
input:read-only,
textarea:read-only {
    color: var(--text-gray);
    cursor: not-allowed;
}

/* Плейсхолдер */
input::placeholder {
    color: var(--text-dark);
}

/* фикс автоввода */
input:-webkit-autofill, 
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.custom-input-wrapper {
    width: 100%;
    height: auto;
    position: relative;

    margin-top: 8px; /* Оступ между инпутами - 20px */
}

.custom-input-wrapper label {
    position: absolute;
    padding: 0 4px;
    top: 8px;
    left: 4px;

    color: var(--text-dark);
    /* Отключаем взаимодействие с лейблом */
    pointer-events: none;
}

/* Перемещаем текст выше если в инпуте есть значение или инпут активен */
.custom-input-wrapper input:focus:not(:read-only) ~ label,
.custom-input-wrapper input:valid:not(:read-only) ~ label,
.custom-input-wrapper input:read-only ~ label,
.custom-input-wrapper textarea:focus:not(:read-only) ~ label,
.custom-input-wrapper textarea:valid:not(:read-only) ~ label,
.custom-input-wrapper textarea:read-only ~ label {
    translate: 0px -16px;

    font-size: var(--p-small-size);
    color: var(--border-input);

    background-color: var(--bg-secondary);
}

/* При нажатии на инпут зеленая обводка */
.custom-input-wrapper input:focus:not(:read-only),
.custom-input-wrapper textarea:focus:not(:read-only) {
    border: 1px solid var(--border-input-focus);
}


/* При нажатии на инпут зеленый текст лейбла */
.custom-input-wrapper input:focus:not(:read-only) ~ label,
.custom-input-wrapper textarea:focus:not(:read-only) ~ label {
    color: var(--border-input-focus);
    
}

/* Стиль для ошибки */
.custom-input-wrapper input.error:not(:read-only) {
    border: 1px solid var(--border-input-error);
}

.custom-input-wrapper input.error:not(:read-only) ~ label {
    color: var(--border-input-error);
}


/* Инпут с паролем */
.custom-input-password input {
    padding-right: 44px; /* 32px + 12px */
}

/* Кнопка внутри обвертки */
.custom-input-password button {
    /* Кнопка внутри инпута 28px на 28px */
    width: var(--button-img-size);
    height: var(--button-img-size);

    position: absolute;
    top: 4px;
    right: 4px;
}

/* Картинка внутри обвертки */
.custom-input-password button img {
    /* Картинка внутри кнопки 28px на 28px */
    width: var(--button-img-size);
    height: var(--button-img-size);
}

/* Кпнока с полем пароля */
/* <div class="input-wrapper" id="password-input">
    <input type="password" placeholder="Пароль">
    <button class="button-icon" type="button"><img src="../assets/images/icons/EyeOpen.svg" alt="show-password"></button>                    
</div> */


/* Кпнока с иконкой */
/* <div class="input-wrapper">
    <input type="text" id="search">
    <img src="../assets/images/icons/Search.svg" alt="search">
</div> */