/* Контент в 100% */
@media screen and (max-width: 840px) {
/* Основной контейнер всего контента */
#root {
    width: 100%; /* Ширина во всю страницу */
    padding: 0;
    flex-direction: column;
    align-items: center;
}

/* Блок навигации */
aside {
    width: 100%; /* Ширина во всю страницу */
    height: 40px;
    padding: 0;

    background-color: var(--bg-secondary);
    border-bottom: 1px solid var(--border-primary);

    position: fixed;
    top: 0;
    left: 0;
}

/* Блок страницы */
article {
    width: 100%; /* Ширина во всю страницу */
    padding: 60px 20px 0px 20px; /* Отступ сверху 40px + 20px */
}

/* Блок с контентом */
section {
    width: min(550px, 100%); /* 550px размер страницы и скролл сбоку страницы */
    
    margin: 0 auto; /* По центру страницы */
}
}