#article-registration {
    padding: 20px 0px 0px 0px;
}

/* Секция входа */
#section-reg {
    width: min(400px, 100%);

    text-align: center;

    margin: 0 auto;
}

#section-reg__first-page, #section-reg__middle-page, #section-reg__last-page  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--block-gap);
}


/* Логотип над формой */
.section-reg__logo {
    width: min(200px, 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto 20px auto;
}

.section-reg__logo img {
    width: 100%;

    cursor: pointer;
}

.section-reg__code-button {
    width: auto;
}

#section-reg form small {
    width: 100%;
    text-align: left;
}

#section-reg form .custom-input-wrapper:last-of-type {
    margin-bottom: 4px;
}

#section-reg form button[type=submit] {
    margin-top: 4px;
}


/* Текст под формой */
.section-reg__sub-text {
    width: min(400px, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin: 12px auto 0 auto;
}